body, h1, h2, p, address {
    margin: 0;
    padding: 0;
    color: rgb(117, 114, 114); /* Dark text color for better readability */
    font-family: 'Times New Roman', Times, serif;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8; /* Light background for a cleaner look */
    color: #333; /* Darker text color for better contrast */
}

/* Header Styles for a More Professional Look */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Adjust text styling */
header h1 {
    font-size: 2.5em; /* Slightly larger font size for emphasis */
    margin-bottom: 10px;
}

/* Navigation Styles */
nav {
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px; /* Increased horizontal margin */
    font-weight: bold;
    transition: color 0.3s ease-in-out; /* Smooth color transition */
}

nav a:hover {
    color: #ffd700; /* Change color on hover for a subtle effect */
}

/* Hero Banner Styles */
.hero-banner {
    background-image: url('./images/techs.avif');
    height: 150px; /* Increased height for a more prominent banner */
    background-position: center;
    text-align: center;
    color: #fff; /* White text for better visibility */
    display: none;
}

/* Page Section Styles */
.page-section {
    padding: 40px;
    text-align: center;
}

/* Flex Container and Item Styles */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.flex-container a {
    text-decoration: none;
    color:#05d7f8; /* Blue color for links */
    transition: color 0.3s ease-in-out; /* Smooth color transition */
}

.flex-container a:hover {
    color: #ff4081; /* Change color on hover for a subtle effect */
}

.flex-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transitions */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:80%;
    display: inline-block;
    
}

.flex-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced box shadow on hover */
}

/* Contact Styles */
.contact a {
    display: block;
    margin-bottom: 10px;
    color: #05d7f8;
    transition: color 0.3s ease-in-out; /* Smooth color transition */
}

.contact a:hover {
    color: #ff4081; /* Change color on hover for a subtle effect */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .page-section {
        padding: 20px;
    }

    .flex-item {
        width: 100%;
    }
}